h1 {
    color: $azure-color-3;
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0 0 0;
}

form, .response {
    background-color: $azure-color-3;
    width: 50vw;
    margin: auto;
    padding: 1rem;
}

form {
    div {
        display: flex;
        justify-content: space-between;
        align-items: top;
        flex-wrap: wrap;
        gap: .5rem;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        label {
            background-color: $light-color;
            color: $azure-color-3;
            text-align: right;
            width: 30%;
            height: 2rem;
            padding: .5rem;
            flex-grow: 0;

            strong {
                color: red;
            }
        }

        input[type=text],
        input[type=email],
        textarea {
            flex-grow: 1;
            height: 2rem;
            font-size: 1.3rem;
            vertical-align: middle;
            padding: .5rem;
            margin: 0;
            border: none;
            color: black;
        }

        input:not(:placeholder-shown):invalid {
            color: red;
        }

        textarea {
            resize: vertical;
            min-height: 10rem;
        }

        p {
            color: red;
            background-color: $light-color;
            font-size: 1.3rem;
            margin: 0;
            padding: .5rem;
        }
    }
}

.button {
    color: $light-color;
    background-color: $azure-color-1;
    border: solid 4px $light-color;
    flex-grow: 0;
    padding: .5rem;
    font-size: 1.3rem;
    width: 15rem;
    cursor: pointer;

    &:hover {
        background-color: $azure-color-2;
    }

    &:active {
        background-color: $azure-color-3;
    }
}

.response {
    * {
        text-align: center;
    }
}

.error {
    color: red;
}