@use 'variables' as var;

* {
    font-family: var.$content-font;
}

.title {
    font-family: var.$title-font;
}

.icon {
    margin: 0 .5rem 0 .5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    width: auto;
    height: auto;
}

html, body {
    min-height: 100vh;
    height: max-content;
}

body {
    display: flex;
    margin: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

section * {
    color: var.$light-color;
}

h2 {
    margin: 0;
}

body > main {
    background-color: var.$light-color;
    flex-grow: 1;
    
    section {
        margin: 1rem;
    }
}

a {
    text-decoration: none;

    img {
        vertical-align: middle;
    }
}

.button {
    display: inline-block;
    color: var.$light-color;
    background-color: var.$azure-color-1;
    border: solid 4px var.$light-color;
    flex-grow: 0;
    padding: .5rem;
    font-size: 1.3rem;
    width: 15rem;
    cursor: pointer;

    &:hover {
        background-color: var.$azure-color-2;
    }

    &:active {
        background-color: var.$azure-color-3;
    }
}
