main > nav > ul {
    min-height: 10rem;
    background-color: $azure-color-1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0;

    a {
        font-size: 5rem;
        padding: 1rem 1rem 0 1rem;
    }
}

nav {
    border-bottom: solid .5rem $azure-color-3;
}

.menu-page {
    background-color: $azure-color-1;
    color: $light-color;
}

.active-page {
    background-color: $light-color;
    color: $azure-color-3;
    border: solid .5rem $azure-color-3;
    border-bottom: solid .5rem $light-color;
}

// Pour que le menu s'affiche correctement
@-moz-document url-prefix() {
    main>nav>ul {
        a {
            padding: 1rem 1rem .5rem 1rem;
        }
    }
}